/* Formulario */
.form-container {
  text-align: center;
  margin-top: 2rem;
}

.input-question {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #e7d9c4;
  border-radius: 5px;
  background-color: transparent;
  color: #e7d9c4;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-question::placeholder {
  color: #c4b6a8;
}

.input-question:focus {
  outline: none;
  border-color: #a982b9;
  box-shadow: 0 0 4px #cfbee1;
}

.btn-throw {
  margin-left: 1rem;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #643a6b;
  color: #e7d9c4;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-throw:hover {
  background-color: #8a508a;
  transform: scale(1.05);
}

.btn-throw:active {
  transform: scale(0.95);
}

/* Resultado */
.result-container {
  text-align: center;
}

/* Lista de cartas */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.card-item {
  border-radius: 10px;
 margin-bottom:  2rem;
  max-width: 200px;
  text-align: center;
  position: relative;
  transform: translateY(20px);
}

.card-image {
  width: 100%;
  object-fit: contain;
  height: 300px;
  margin-bottom: 10px;
}

.card-image.inverted {
  transform: rotate(180deg);
}

.card-title {
  font-size: 1.2rem;
  color: #fff8e1;
}

/* Interpretación */
.interpretation-container {
  max-width: 800px; /* Limita el ancho para facilitar la lectura */
  margin: 1rem auto; /* Centra el contenedor */
  padding: 1rem; /* Espaciado interno */
 
  border: 1px solid #ddd; /* Borde ligero */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(220, 202, 202, 0.887); /* Sombra sutil */
}

/* Estilo para el título */
.interpretation-title {
  font-size: 1.4rem; /* Tamaño del título */
  font-weight: bold; /* Negrita */
  color: #f0dfdf; /* Color del texto */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
  text-align: center; /* Centrar el título */
  text-transform: uppercase; /* Mayúsculas para destacar */
}

/* Estilo para el texto */
.interpretation-text {
  font-size: 1.2rem; /* Tamaño cómodo */
  line-height: 1.6; /* Altura de línea para facilitar lectura */
  color: #ffeded; /* Color del texto */
  text-align:left;
}